
<div class="box-new"  >
    <div class="wrapper-new-comment">
        <div class="img-user">
                <img src="{{currentUser.image.png}}" alt="{{currentUser.username}}">
            </div>
        <span #tweetElement id="replic" 
              class="textarea" role="textbox" 
              contenteditable>
        </span>
        
            
            <div class="wrapper-button">
                <button class="button send" (click)="agregarReplica()">REPLY</button>
            </div>
        
    </div>
</div>