/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap')

$font-family:'Rubik'

///Prymary colors

$accent:hsl(238, 40%, 52%)
$delete:hsl(358, 79%, 66%)
$back-ground-score:hsl(239, 57%, 85%)
$back-ground:hsl(228, 33%, 97%)
$hover-delete:hsl(357, 100%, 86%)

//Neutral colors

$text-user:hsl(212, 24%, 26%)
$text:hsl(211, 10%, 45%)
$line:hsl(223, 19%, 93%)
$back-ground-card:hsl(0, 0%, 100%)
$text-color-button:hsl(0, 0%, 100%)

//Mixins

@mixin column-center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
@mixin row-center
    display: flex
    flex-direction: row
    align-items: center
    


:root
    font-family: $font-family     
    padding: 0px
    margin: 0px

app-root
    width: 100%
    height: 100%
body
    background-color: $back-ground    
    @include column-center
    padding-bottom: 24px
    padding-top: 24px
    padding-left: 12px
    padding-right: 12px
    

//nuevo comment

.box
    background-color: $back-ground-card    
    border-radius: 5px    
    padding: 16px
    margin-top: 16px


.textarea
    display: block    
    overflow: hidden
    resize: none
    min-height: 70px
    line-height: 20px   
    border: 1px solid $line
    outline: none
    padding: 15px 10px
    border-radius: 5px

.textarea[contenteditable]:empty::before 
    content: "Add a comment..."
    color: $text

.box-inferior
    @include row-center
    justify-content: space-between
    margin-top: 10px
    img
        width: 35px

.button
    border: none
    text-transform: uppercase
    font-weight: 700
    border-radius: 5px
    width: 100px
    height: 40px
    color: $text-color-button
    cursor: pointer
    
.send
    background-color: $accent
    &:hover
        background-color: hsl(238, 40%, 75%)
//comment

.wrapprer-user
    @include row-center   
    
    span
        margin-left: 20px     
    img
        width: 35px
    .username        
        color: $text-user
        font-weight: 700    
    .createdAt
        color: $text  
.wrapper-comment
    margin-top: 10px
    &:last-child
        
        span
            color: $text  
            line-height: 1.4rem
.wrapper-btn-reply,.wrapper-btn
    button
        background-color: transparent
        border: none
        font-family: $font-family
        font-size: 1rem        
        font-weight: 500

.wrapper-buttons
    @include row-center
    justify-content: space-between
    margin-top: 16px

    .wrapper-score
        background-color: $back-ground
        border-radius: 5px        
        width: 90px
        height: 40px
        @include row-center
        justify-content: space-between  
        color: $accent
        font-weight: 500     

        button
            border: none
            background-color: transparent
            width: 30px
            height: 30px            
            cursor: pointer
            i
                @include column-center
                
    .wrapper-btn-reply 
        @include row-center
        align-items: baseline
        color: $accent
        font-weight: 500
        cursor: pointer
        
        button
            color: $accent
            i
                margin-right: 3px
        &:hover     

            button
                color: $back-ground-score      
                i
                    svg
                        path
                            fill: $back-ground-score
           

.wrapper-btn
    @include row-center
    align-items: baseline
    color: $accent
    font-weight: 500
    cursor: pointer
    button.blue
        margin-left: 12px
    button.red    
        &:hover        
            color: $hover-delete      
            i
                svg
                    path
                        fill: $hover-delete
    button.blue
        &:hover            
            color: hsl(238, 40%, 75%)      
            i
                svg
                    path
                        fill: hsl(238, 40%, 75%)
                            
.wrapper-replies
    border-left: 1px solid $line
    padding-left: 16px      

.you
    background-color: $accent
    color: $text-color-button
    padding: 2px 4px
    border-radius: 3px
    font-size: 0.8rem
    font-weight: 500

.red
    color: $delete
.blue
    color: $accent
.bold
    font-weight: 500


